<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="explanation center">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h2>1. Employment</h2>
          <p>Select the label that best represents your current employer.</p>
          <div class="form-group">
            <%= f.select(:employment, ['Government (fed, state, or local)', 'Not-for-profit (Section 501(c)(3))', 'AmeriCorps or Peace Corps', 'Other qualifying public services', 'None of the above'],{ prompt: "Select Your Employer Type" }, { :class => "form-control" }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="explanation center">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h2>2. Loans</h2>
          <p>Select the type and balance of your student loan portfolio.</p>
          <div class="form-group">
            <%= f.select(:loans, ['Federal student loans', 'Private student loans', 'Both', "I don't know"],{ prompt: "Select Your Student Loan Type" }, { :class => "form-control" }) %>
          </div>
          <div class="form-group">
            <%= f.select(:amount, ['$0-$5,000', '$5,001-$15,000','$15,001-$30,000', "$30,001-$50,000", "$50,001-$75,000", "$75,001-$100,000", "$100,001+"], { prompt: "Select Your Student Loan Amount" }, { :class => "form-control" }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pad25"></div>
  <div class="CTA">
    <p><%= f.submit "Check My Eligibility", class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
