<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron app dashboard">
    <div class="text-center">
      <h1>Dashboard</h1>
      <div class="container">
        <div class="row">
          <div class="pad10"></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="pad20"></div>
            <div class="dash-jumbo-text">
              <strong>Eligibility Inputs</strong>
            </div>
            <div class="pad10"></div>
            <table>
              <thead>
                <tr>
                  <th>Employment</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <td><%= profile.employment %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pad10"></div>
            <table>
              <thead>
                <tr>
                  <th>Loans</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <td><%= profile.loans %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pad10"></div>
            <table>
              <thead>
                <tr>
                  <th>Amount</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <td><%= profile.amount %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pad10"></div>
            <table>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
                    <!-- <%= link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %> -->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>    
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="pad20"></div>
            <div class="dash-jumbo-text">
              <strong>Employment Form</strong>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="pad20"></div>
            <div class="dash-jumbo-text">
              <strong>Tracking Payments</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="pad80"></div>
      <%= image_tag('mobileimg.png') %>
    </div>
  </div>
</div>


