<div class="container">
  <div class="jumbotron app center">
    <h4>Progress</h4>
    <div class="row bs-wizard" style="border-bottom:0;">
      <div class="col-xs-2 col-xs-offset-3 bs-wizard-step complete">
        <div class="progress"><div class="progress-bar"></div></div>
          <div class="bs-wizard-dot">
            <span class="bs-wizard-step-num">1</span>
            <span class="glyphicon glyphicon-ok progress" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-2 bs-wizard-step complete"><!-- complete --> 
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot">
            <span class="bs-wizard-step-num">2</span>
            <span class="glyphicon glyphicon-ok progress" aria-hidden="true"></span>
          </a>
        </div>
        <div class="col-xs-2 bs-wizard-step active"><!-- complete --> 
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot">
            <span class="bs-wizard-step-num">3</span>
          </a>
        </div>
      </div> 
      <div class="pad20"></div>
      <div class="text-center">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h4><strong> 1. Eligibility Inputs<span class="caret"></span></strong></h4>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <h4><strong><u>Employment</u></strong></h4>
                <% @profiles.each do |profile| %>
                  <% if profile.user == current_user %>
                    <%= profile.employment %>
                  <% end %>
                <% end %>
                <div class="pad10"></div>
                <h4><strong><u>Loans</u></strong></h4>
                <% @profiles.each do |profile| %>
                  <% if profile.user == current_user %>
                    <%= profile.loans %>
                  <% end %>
                <% end %>
                <div class="pad10"></div>
                <h4><strong><u>Amount</u></strong></h4>
                <% @profiles.each do |profile| %>
                  <% if profile.user == current_user %>
                    <%= profile.amount %>
                  <% end %> 
                <% end %>
                <div class="pad10"></div>
                <% @profiles.each do |profile| %>
                  <% if profile.user == current_user %>
                    <%= link_to 'Edit Inputs', edit_profile_path(profile), class: "btn btn-primary btn-lg" %>
                  <% end %>
                  <% if current_user.profile == nil %>
                    <%= link_to "Add Eligibility Inputs", new_profile_path, class: "btn btn-primary btn-lg" %>
                  <% end %>
                      </tr>
                <% end %>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4><strong>2. Employment Form<span class="caret"></span></strong></h4>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <% if current_user.profile == nil %>
                  <%= link_to "Add Eligibility Inputs", new_profile_path, class: "btn btn-primary btn-lg" %>
                <% else %>
                  <% if (current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == "I don't know") || (current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == "I don't know") || (current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == "I don't know") || (current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == "I don't know") %>
                    <h2>Based on your inputs, it looks like you probably qualify for Public Service Loan Forgiveness.</h2>
                    <div class="pad20"></div> 
                    <div class="media">
                      <div class="media-center">
                        <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-employment-certification-form.pdf", target= "_blank">
                          <span class="glyphicon glyphicon-download-alt" alt="PSLF Employment Verification Form">
                        </a>
                      </div>
                      <div class="pad10"></div>
                      <div class="media-body">
                        <div class="text-explanation-cert"> Click the icon above (opens new tab) for access to another employment verification form. </div>
                      </div>
                    </div>
                    <div class="pad30"></div>
                    <%= link_to 'See All My Forms', certs_path %>
                    <div class="pad10"></div>
                    <%= link_to 'Upload New Employment Verification Form', new_cert_path %>
                  <% else %>
                    <h4>Unfortunately, based on your Eligibility Inputs it seems like you may not be eligible for Public Service Loan Forgiveness at this time. You can review the requirements here.</h4>
                    <%= link_to 'Edit Eligibility Inputs', edit_profile_path(current_user.profile), class: "btn btn-primary btn-lg" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <h4><strong>3. Tracking Payments<span class="caret"></span></strong></h4>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <h4>Once you get email confirmation from FedLoan (PHEAA) that your employment verification form was accepted, enter the number of verified payments you've already made and we'll help you track your payments moving forward.</h4>
                <%= render 'tracker' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


