<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron app dashboard">
    <div class="text-center">
      <h1>Dashboard</h1>
      <div class="container">
        <div class="row">
          <div class="pad10"></div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="pad20"></div>
            <div class="dash-jumbo-text-profile">
              <strong>Eligibility Inputs</strong>
            </div>
            <div class="pad10"></div>
            <table>
              <thead>
                <tr>
                  <th>Employment</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <% if profile.user == current_user %>
                      <td><%= profile.employment %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pad10"></div>
            <table>
              <thead>
                <tr>
                  <th>Loans</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <% if profile.user == current_user %>
                      <td><%= profile.loans %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pad10"></div>
            <table>
              <thead>
                <tr>
                  <th>Amount</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <% if profile.user == current_user %>
                      <td><%= profile.amount %></td>
                    <% end %> 
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pad10"></div>
            <table>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <% if profile.user == current_user %>
                      <td><%= link_to 'Edit Inputs', edit_profile_path(profile) %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="text-center">
              <% if current_user.profile == nil %>
                <%= link_to "Add Eligibility Inputs", new_profile_path, class: "btn btn-primary btn-md" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="pad20"></div>
            <div class="dash-jumbo-text-profile">
              <strong>Employment Form</strong>
            </div>
            <div class="text-explanation-profile">
              <% if current_user.profile == nil %>
                <%= link_to "Add Eligibility Inputs", new_profile_path, class: "btn btn-primary btn-md" %>
              <% else %>
                <% if current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == 'Federal student loans' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == 'Both' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == "I don't know" %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == 'Federal student loans' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == 'Both' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == "I don't know" %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == 'Federal student loans' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == 'Both' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == "I don't know" %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == 'Federal student loans' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == 'Both' %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% elsif current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == "I don't know" %>
                  <%= "Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!" %>
                <% else %>
                  <%= "Unfortunately, based on your Eligibility Inputs it seems like you may not be eligible for Public Service Loan Forgiveness at this time. You can review the requirements here." %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="pad20"></div>
            <div class="dash-jumbo-text-profile">
              <strong>Tracking Payments</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="pad80"></div>
      <%= image_tag('mobileimg.png') %>
    </div>
  </div>
</div>


