<%= form_for @cert, html: { multipart: true } do |f| %>
  <% if @cert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cert.errors.count, "error") %> prohibited this cert from being saved:</h2>

      <ul>
      <% @cert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Choose_File %><br>
    <%= f.file_field :document, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Brief_Description_for_your_records %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="CTA">
    <p><%= f.submit "Upload My Form", class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
